@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

/* body {
    height: 100vh;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
};

#player {
    background-color: white;
    width: 90%;
    max-width: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
};

.card {
    box-shadow: none;
    margin: 0;
};

h4 {
    color: rgba(35, 49, 253, 0.822);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
};

.card-image {
    background: url("https://placehold.it/500") no-repeat center center / cover;
    height: 200px;
};

audio {
    width: 100%;
    margin-top: 30px;
} ; */

body {
  background: orange;
  padding: 0;
  margin: 0;
}

.screen {
  background-color: #fff;
  padding: 0;
  height: 550px;
  width: 366px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 30px 0;
}

input[type="checkbox"] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
}

label.main:before {
  position: absolute;
  top: 23px;
  left: 23px;
  font-family: FontAwesome;
  content: "\f0c9";
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}

label.main:hover:before {
  color: #ff564c;
}

,
.screen > #magicButton:checked ~ label.main:before {
  color: #ff564c;
  transition: all 0.3s ease-in;
}
