*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapprer{
    width: 100%;
}

.wrapper .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card{
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.carousel .card-1{
    background: #ed1c24;
}

.carousel .card-2{
    background: #0072bc;
}

.carousel .card-3{
    background: #39b54a;
}

.carousel .card-4{
    background: #f26522;
}

.carousel .card-5{
    background: #630460;
}

.carousel .card-6{
    background: #ed1;
}
